// Media query mixin
//
// Usage:
// @include mq(md) {
//   ..medium and up styles
// }
@mixin mq($name) {
  // Retrieves the value from the key
  $value: map-get($media-queries, $name);

  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

// Columns container
//
// Usage
// .columns-wrapper {
//   @include columns;
// }
@mixin columns {
  @include clearfix;
  @include mq(md) {
    margin-right: -$grid-gutter;
    margin-left: -$grid-gutter;
  }
}

// Column container
//
// Usage:
// .column {
//   @include column;
// }
@mixin column {
  float: left;
  padding-right: $grid-gutter;
  padding-left: $grid-gutter;
}

// Column widths

@each $column-width, $size in $column-widths {
  .#{ $column-width } { width: $size; }
}
