// Colors
$body: #2a2a2a;
$lt-grey: #E1E0E7;
$dk-grey: darken($lt-grey, 20%);
$white: #fff;
$red: #ff002a;
$deep-purple: #1b1830;
// Body
body {
    background-color: $white;
}
::selection {
  background: #ffb7b7; /* Safari */
}
::-moz-selection {
  background: #ffb7b7; /* Firefox */
}
.non-footer {
    background-color: $lt-grey;
    overflow: hidden;
}
.content-padding {
  @include clearfix;
  @include media($medium) {
      padding: $gutter*2 $gutter $gutter*2 $gutter;
  }
  @include media($large) {
      padding: $gutter*2 0 $gutter*2;
  }
}
.content-wrap {
    @include clearfix;
}
.panel {
  background-color: $white;
  padding: $gutter;
  @include media($small-medium) {
    padding: $gutter $gutter*2;
  }
  
  margin-top: $gutter;
  h2 {
    &:first-child {
      margin-top: 0;
    }
  }
}
.visually-hidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}
