.site-header {
  @include clearfix;
  @extend .content-padding;
  padding-top: 0;
}
.site-header__container {
  @include media($medium) {
    position: absolute;
  }
}
.site-header__hgroup {
  text-transform: lowercase;
  margin-top: $gutter;
  @extend %animated;
  @extend %fadeIn;
  @include media($small-medium) {
    @include span-columns (5 of 6);
  }
  @include media($medium) {
    @include span-columns (3 of 6);
  }
  @include media($large) {
    // @include span-columns (8 of 12);
  }
  a {
    display: block;
    &:hover {
      .site-title {
        #text, #pm {
          fill: $dk-grey;
          opacity: 1 !important; //Override JS styles
        }
      }
    }
  }
  h1 {
    margin-bottom: .5em;
    width: 70%;
    @include media($medium) {
      width: 80%;
    }
    @include media($large) {
      width: 100%;
    }
    .site-title {
      #text, #pm {
        fill: $red;
        @include transition(all 0.25s ease-out);
      }
    }
  }
  h2 {
    color: $white;
    @include media($medium) {
      width: 200%;
    }
  }
}
.site-header__nav {
    @extend %animated;
    @extend %fadeIn;
    margin-bottom: 1em;
    float: left;
    width: 100%;
    @include media($small-medium) {
      width: auto;
    }
    @include media($medium) {
      padding-left: 3em;
      @include span-columns (3 of 6);
      @include omega;
      padding-top: 10.6em;
    }
    @include media($large) {
      padding-left: 0;
      // @include span-columns (4 of 12);
      padding-top: 12.3em;
    }
    ul {
      @include media($medium) {
        float: right;
        width: em(270);

      }
      @include media($large) {
        width: em(300);
      }
      
    }
    a {
        display: block;
        padding: .5em .25em;
        position: relative;
        font-size: 1em;
        &:before {
          content: "*";
          color: $dk-grey;
          font-size: 1.5em;
          font-family: GT-Walsheim;
          display: inline;
          opacity: 0;
          position: relative;



          top: 0.35em;
          left: -.2em;




        }
        &:hover, &.active {
          &:before {
            opacity: 1;
          }

        }


        &.active {
          color: $body;
        }
    }
    ul {
        @extend %ul--no-bullet;
        margin-left: -1em;
        @include media($medium) {
          margin-left: 0;
        }
        li {
            display: inline-block;
            text-align: center;
            margin-right: 1em;
            &:last-child {
              margin-right: 0;
            }
            @include media($small-medium) {
              margin-right: 2em;
            }
            @include media($medium) {
              @include span-columns(2 of 6);
              margin-bottom: 0;
                          // text-align: right;
              &:nth-child(3n) {
                  @include omega;
              }
            }
        }
    }
}
