.content {
    figure {
        background: lighten($lt-grey, 8%);
        padding: 1em;
        margin-bottom: 1em;
        @include transition(width 0.25s ease-out);
        @include media($medium) {
            margin-left: -1em;
        }
        img {
            width: 100%;
            height: auto;
        }
        figcaption {
            @extend %text--small;
            font-style: italic;
        }


    }
}

.js {
  .image--animate-in {
    // -webkit-transform: translateX(-10%);
    // -moz-transform: translateX(-10%);
    // transform: translateX(-10%);
    opacity: .5;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    &.focus {
      -webkit-transition: -webkit-transform 0.5s, opacity 0.5s, -webkit-filter 0.5s;
      -moz-transition: -moz-transform 0.5s, opacity 0.5s, -moz-filter 0.5s;
      transition: transform 0.5s, opacity 0.5s, filter 0.5s;
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 1;
       -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
}

.img--screenshot {
    @include media($medium) {
        border: 30px solid $lt-grey;
        border-radius: 10px;
        position: relative;
    }
}
.img--screenshot-mobile {
  // @include media($medium) {
      border-top: 5px solid $body;
      border-bottom: 5px solid $body;
      border-left: 40px solid $body;
      border-right: 40px solid $body;
      border-radius: 15px;
  // }
    @include media($small-medium) {
      border-top: 8px solid $body;
      border-bottom: 8px solid $body;
      border-left: 50px solid $body;
      border-right: 50px solid $body;
      border-radius: 20px;
    }
    @include media($medium) {
        border-top: 10px solid $body;
        border-bottom: 10px solid $body;
        border-left: 80px solid $body;
        border-right: 80px solid $body;
        border-radius: 30px;
    }
}

.icon {
    display: block;
    background-size: 3em;
    background-position: center;
    width: 100%;
    height: 4em;
    @include media($medium) {
        // width: 3em;
        // height: 3em;
        // margin-left: 0;
    }
    &--post {
      @extend .icon;
      width: 10em;
      height: 10em;
      float: right;
      margin: 0 0 $gutter 0;
      background-size: contain;
      @include media($medium) {
        float: none;
        margin: -$gutter*2 0 0;
      }
      
    }
}
