---
layout: default
order: 1
home_page: true
---

<div class="content-block bg-dark content-block-home-img-bg content-block-spacious" style="background-image: url({% asset_path patrick-marsceill.png %});">
  <div class="container container-wide">
    <div class="columns">
      <div class="four-fifths-md three-fifths-xl column">
        <p class="display-alpha mb-3 mb-md-4">
          I design & build with the product design team at 
          <a href="http://github.com">GitHub</a>.
        </p>
        <h1 class="display-gamma mb-3 mb-md-6 text-white text-dim">
          Patrick Marsceill is a multi-disciplinary designer,
          making the web shine for over a decade.
        </h1>
      </div>
      <div class="single column">
        <div class="d-sm-inline-block mt-4 mt-md-6 mr-sm-3">
          <h2 class="heading-epsilon text-white mb-1">Follow along on</h2>
          <ul class="list-inline text-small mb-sm-0">
            <li class="mr-2"><a href="//twitter.com/pmarsceill">Twitter</a></li>
            <li class="mr-2"><a href="//github.com/pmarsceill">GitHub</a></li>
            <li class="mr-2"><a href="//dribbble.com/pmarsceill">Dribbble</a></li>
            <li class="mr-md-2"><a href="//instagram.com/pmarsceill">Instagram</a></li>
          </ul>
        </div>
        <div class="d-inline-block">
          <h2 class="heading-epsilon text-white mb-1">Subscribe</h2>
          <p class="text-small mb-0"><a href="feed.xml">RSS</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-block content-block-spacious">
  <div class="container container-wide">
    <h2 class="heading-epsilon mb-1 text-white">From my journal</h2>
    <ol class="ol-big columns mb-0">
      {% for post in site.posts %}
        {% unless post.categories contains "legacy" %}
          {% if forloop.index <= 3 %}
            <li class="one-third-md column{% unless forloop.index == 3 %} mb-3 mb-md-0{% endunless %}">
              <h3 class="display-gamma d-inline mr-1">
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h3>
              <p class="display-gamma d-inline">{{ post.description }}</p>
            </li>
          {% endif %}
        {% else %}
          {% break %}
        {% endunless %}
      {% endfor %}
    </ol>
  </div>
</div>
<div class="content-block" id="projects">
  <div class="container container-wide">
    <h2 class="heading-epsilon text-white">Elsewhere</h2>
    <div class="columns">
      <div class="single one-third-md column">
        <p class="display-gamma text-grey-lt mb-3 mb-md-0">
          Side projects &amp; podcasts &amp; bands &amp; artwork &amp; tools &amp; experiments :sparkles:
        </p>
      </div>
      <div class="single two-thirds-md d-flex fw-wrap">
        <div class="one-half mb-3 column">
          <h3 class="text-small"><a href="//awaremac.com">Aware</a></h3>
          <p class="text-small mb-0">Aware is a menubar app for OSX and MacOS that tracks and displays how long you've been actively using your computer.</p>
        </div>
        <div class="one-half mb-3 column">
          <h3 class="text-small"><a href="//tablab.io">Tab Lab</a></h3>
          <p class="text-small mb-0">Tab Lab is a web app created to publish and collaborate on guitar tablature and sheet music.</p>
        </div>
        <div class="one-half mb-3 column">
          <h3 class="text-small"><a href="//quirksandcompulsions.com">Quirks &amp; Compulsions</a></h3>
          <p class="text-small mb-0">The show about overanalyzing the overlooked. With my co-hosts, Anthony Colangelo and Aura Seltzer, we discuss their obsessions with life's minutiae.</p>
        </div>
        <div class="one-half mb-3 column">
          <h3 class="text-small"><a href="//ammills.com">A.M. Mills</a></h3>
          <p class="text-small mb-0">A sappy quartet from Philadelphia.</p>
        </div>
        <div class="one-half mb-3 column">
          <h3 class="text-small"><a href="//github.com/pmarsceill/stately">Stately (alpha)</a></h3>
          <p class="text-small mb-0">A Jekyll theme for goverment. Open source and easily hosted on GitHub pages.</p>
        </div>
        <div class="one-half mb-3 column">
          <h3 class="text-small text-grey-lt">Just the Docs (coming soon)</h3>
          <p class="text-small  text-grey-lt mb-0">A highly customaizable Jekyll theme for documentation.</p>
        </div>
      </div>
    </div>
  </div>
</div>
