// Text color

.text-black { color: $black !important; }
.text-cyan { color: $cyan !important; }
.text-white { color: $white !important; }
.text-grey { color: $grey-dk !important; }
.text-blue { color: $blue !important; }

.link-black {
  color: $black !important;

  &:hover {
    color: $purple !important;
  }
}

.link-cyan {
  color: $cyan !important;

  &:hover {
    color: $purple !important;
  }
}

.link-white {
  color: $white !important;

  &:hover {
    color: $purple !important;
  }
}

.link-grey {
  color: $grey-dk !important;

  &:hover {
    color: $purple !important;
  }
}

// Background color

.bg-black  { background-color: $black !important; }
.bg-cyan   { background-color: $cyan !important; }
.bg-grey   { background-color: $grey !important; }
.bg-white  { background-color: $white !important; }
.bg-blue   { background-color: $blue !important; }
.bg-purple { background-color: $purple !important; }
.bg-orange { background-color: $orange !important; }

// Fades

.fade-75 { opacity: 0.75 !important; }
.fade-50 { opacity: 0.5 !important; }
.fade-25 { opacity: 0.25 !important; }
