// stylelint-disable block-opening-brace-space-after, block-opening-brace-space-before, primer/selector-no-utility
// Color utils

// Text colors
.text-muted { color: darken($soft-light, 14%) !important; }
.text-red { color: $red !important; }
.text-black { color: $darkest !important; }
.text-grey { color: $grey-dk !important; }
.text-purple { color: $purple !important; }
.text-dim { opacity: 0.65 !important; }

// Link colors
.link-red {
  color: $red !important;
  background-image: none !important;

  &:hover {
    text-decoration: underline !important;
  }
}

// Background colors
.bg-black { background-color: $black !important; }
.bg-dark { background-color: $grey-dk !important; }
.bg-light { background-color: $grey-md !important; }
.bg-white { background-color: $lightest !important; }
