// stylelint-disable block-opening-brace-space-after, block-opening-brace-space-before, primer/selector-no-utility
// Typography utils
.text-small {
  font-size: 12px !important;

  @include mq(md) {
    font-size: 14px !important;
  }
}

.text-monospace { font-family: $monospace-font-family !important; }

.text-center { text-align: center !important; }

.f-wt-normal { font-weight: normal !important; }

//
// Link utils
//
.link-no-underline {
  background-image: none;
}
