//------------------------------------
//    Typography
//------------------------------------

// Heading mixins and classes
//

@mixin alpha {
  font-size: rem(58);
  font-family: $compressed-font-family;
  line-height: 1.2;
  letter-spacing: -3px;
  font-weight: normal;
  @include spacing-l;
}
.alpha {
  @include alpha;
}

@mixin beta {
  font-size: rem(28);
  font-family: $base-font-family;
  line-height: 1.1;
  font-weight: bold;
  letter-spacing: 2px;
}
.beta {
  @include beta;
}

@mixin gamma {
  font-size: rem(18);
  font-family: $base-font-family;
  line-height: 1.1;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.gamma {
  @include gamma;
}

@mixin delta {
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  font-weight: normal;
}
.delta {
  @include delta;
}

@mixin epsilon {

}
.epsilon {
  @include epsilon;
}

// Basic spacing
//
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  @include spacing;
}

// Heading font-weight reset
//
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

// Text styles
//
p {
  @include delta;
}

em {
  font-weight: bold;
}

// Anchor links
//
a {
  color: $red;
  text-decoration: none;
}
.adorned {
  position: relative;
  @include spacing-l;
  padding-bottom: $spacing-unit*2;
  &:before {
    content: " ";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: rem(10);
    @include hoz-gradient($yellow, $white);
  }
}
