h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  @include spacing;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

blockquote {
  color: $grey;
  border-left: 4px solid $grey-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}
