//------------------------------------
//    Body
//------------------------------------

// Base body styles
* {
  box-sizing: border-box;
}
html {
  font-size: $base-font-size;
}
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $body-text-color;
  background-color: $body-background-color;
  -webkit-text-size-adjust: 100%;
}
