//------------------------------------
//    Wrappers
//------------------------------------

// Primary content container for the site

@mixin outer {
  max-width: $outer-width;
  margin-right: auto;
  margin-left: auto;
  @include clearfix;
}
.outer {
  @include outer;
}

@mixin outer-wide {
  @include outer;
  max-width: $outer-width + $logo-width;
}
.outer-wide {
  @include outer-wide;
}

// Stuff below the header and above the footer

.main-content {
  margin-top: $spacing-unit*3;
  @include spacing-l;
}

// Basic wrappers for 2/3 1/3 layout

.text-wrap-left {
  @include two-thirds;
  @include column;
}
.media-wrap-right {
  @include one-third;
  @include column;
}
