//------------------------------------
//    Header
//------------------------------------

// Header styles

.logo {
  background-color: $red;
  padding-left: $spacing-unit;
  padding-top: $spacing-unit * 2;
}

.logo__mark {
  .text {
    fill: $blue-dark;
  }
  .pm {
    fill: $blue-dark;
  }
}
