//------------------------------------
//    Variables
//------------------------------------

// Colors
$red: #ff1c04;
$blue-dark: #0e0a3e;
$grey-lt: #f3f3f3;
$grey-med: darken($grey-lt, 10%);
$white: #fff;
$yellow: #ffcd05;
$body-text-color: $blue-dark;
$body-background-color: $white;

// Fonts
$base-font-family: 'Input Sans';
$base-font-size: 17px;
$base-line-height: 1.7;
$base-font-weight: 300;
$light-font-family: 'Input Sans Light';
$compressed-font-family: 'Input Sans Comp Thin';

// Spacing
$em-base: $base-font-size; // Set the em base to be the same as the base type size.
$spacing-unit: rem(32);
$padding-unit: rem(16);
$outer-width: rem(1080);
$grid-gutter: $padding-unit;

// Sizes
$logo-width: $spacing-unit*16;
