//------------------------------------
//    Functions
//------------------------------------

// Strip units function
// from https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_px-to-rem.scss
//
// Input a value + unit and strip it out
// strip-units(12px);
// >> 12

@function strip-units($value) {
  @return ($value / ($value * 0 + 1));
}

// Px to rem function
// https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_strip-units.scss
//
// Input a px value and convert it to rem
// rem(12);
// .5rem

@function rem($pxval) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval); // Strip out the units if the input isn't unitless.
  }
  $base: $em-base;
  @if not unitless($base) {
    $base: strip-units($base);
  }
  @return ($pxval / $base) * 1rem;
}
