---
layout: compressed
---

{% if page.page-internal != nil %}
  {% capture pageInternal %}internal-page{% endcapture %}
{% endif %}

<!DOCTYPE>
<html>
  {% include head.html %}
  <body class="{{ page.page-name }}-page {{ pageInternal }}">
    <div class="sideBar">
      <a class="linkHome d-block" href="{% link _pages/index.html %}">
        {% include mark_svg.html %}
      </a>
    </div>
    <main>
      {{ content }}
    </main>
    {% include site_footer.html %}
    {% include foot.html %}
  </body>
</html>
