---
layout: default
---

<div class="homePage">
  <div class="container container-xl">
    <div class="homePage-about pb-12 col-12 col-md-8 content-padding page-padding">
      <div class="homePage-about-bg--1 js-plx" data-rellax-speed="-4"></div>
      <div class="js-plx" data-rellax-speed="6">
        <h1 class="mb-10">
          <span class="d-block">Hello,</span>
          <span class="display-alpha">I&rsquo;m a Philadelphia-based digital product designer and builder.
            Currently, I manage product design at <a href="https://github.com">GitHub</a>.
            My surname is pronounced, mahr-<em>seel</em></span>.
        </h1>
      </div>
      <h2 class="display-delta mt-12 mb-4 fade-75">The latest</h2>
      <ol class="list-style-none container mln-4 mrn-4">
        {% for post in site.posts %}
          {% unless post.categories contains "legacy" %}
            {% if forloop.index <= 6 %}
              <li class="mb-7 col-6 px-4">
                <time class="text-smallcaps d-block fade-75">{{ post.date | date: '%B %d, %Y'}}</time>
                <h3 class="text-beta d-inline mln-1"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
                <p class="text-beta fade-75 d-inline pl-2">{{ post.description }}</p>
              </li>
            {% endif %}
          {% else %}
            {% break %}
          {% endunless %}
        {% endfor %}
      </ol>
      <ul class="list-style-none">
        <li class="d-inline-block mr-3 fs-epsilon">
          <a href="{% link _pages/journal.html %}">more entries</a>
        </li>
        <li class="d-inline-block fs-epsilon">
          <span class="text-smallcaps"><a href="">RSS</a></span>
        </li>
      </ul>
      <h2 class="display-delta mb-4 mt-9 fade-75">Follow along</h2>
      <p class="mb-8">
        <a href="">Twitter</a><span class="fade-50 px-3">/</span>
        <a href="">GitHub</a><span class="fade-50 px-3">/</span>
        <a href="">Instagram</a><span class="fade-50 px-3">/</span>
        <a href="">Dribbble</a><span class="fade-50 px-3">/</span>
        <a href="">Keybase</a>
      </p>
    </div>
    <div class="homePage-links col-12 col-md-4 content-padding page-padding">
      <p class="mt-11 fade-75">Building big things at GitHub, writing more here,
        making music with A.M. Mills, and hacking on projects that keep me interested.</p>
      <h2 class="display-delta mb-4 mt-12 fade-75">Personal projects</h2>
      <ul>
        <li class="text-delta mb-3">
          <a href="//awaremac.com">Aware</a> simple time tracking for MacOS
        </li>
        <li class="text-delta mb-3">
          <a href="//tablab.io">Tab Lab</a> publish guitar tablature and sheet
          music on the web
        </li>
        <li class="text-delta">
          <a href="//quirksandcompulsions.com">Quirks and Compulsions</a> a podcast
          about overanalyzing the overlooked.
        </li>
      </ul>
    </div>
  </div>
</div>
