---
layout: default
---

<div class="homePage-wrap">
  <div class="container container-xl flex-md-nowrap">
    <div class="homePage-about pb-12 content-padding page-padding">
      <div class="anim-fade-in">
        <h1 class="mb-12">
          <span class="d-block">Hello,</span>
          <span class="display-alpha">I&rsquo;m a Philadelphia-based digital product designer and builder.
            Currently, I manage product design at <a href="https://github.com">GitHub</a>.
            My surname is pronounced, mahr-<em>seel</em></span>.
        </h1>
      </div>
      <h2 class="display-delta mb-4 fade-75">Elsewhere</h2>
      <ul class="list-style-none">
        <li class="d-inline-block py-1"><span class="text-bold"><a href="">Twitter</a></span><span class="fade-50 mx-2">/</span></li>
        <li class="d-inline-block py-1"><span class="text-bold"><a href="">GitHub</a></span><span class="fade-50 mx-2">/</span></li>
        <li class="d-inline-block py-1"><span class="text-bold"><a href="">Instagram</a></span><span class="fade-50 mx-2">/</span></li>
        <li class="d-inline-block py-1"><span class="text-bold"><a href="">Dribbble</a></span><span class="fade-50 mx-2">/</span></li>
        <li class="d-inline-block py-1"><span class="text-bold"><a href="">Keybase</a></span><span class="fade-50 mx-2">/</span></li>
        <li class="d-inline-block py-1"><span class="text-bold"><a href="">Email me</a></span></li>
      </ul>
    </div>
    <div class="homepage-links content-padding py-8 py-md-12">
      <h2 class="mt-4 mt-md-12 display-delta mb-4 fade-75">The latest</h2>
      <ol class="list-style-none">
        {% for post in site.posts %}
          {% unless post.categories contains "legacy" %}
            {% if forloop.index <= 6 %}
              <li class="mb-7">
                <time class="text-smallcaps d-block text-bold fade-50">{{ post.date | date: '%b %d, %Y'}}</time>
                <h3 class="text-beta d-inline"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
                <p class="text-beta fade-75 d-inline pl-2">{{ post.description }}</p>
              </li>
            {% endif %}
          {% else %}
            {% break %}
          {% endunless %}
        {% endfor %}
      </ol>
      <ul class="list-style-none">
        <li class="d-inline-block mr-4">
          <a href="{% link _pages/journal.html %}" class="btn">More entries</a>
        </li>
        <li class="d-inline-block">
          <span class="text-smallcaps"><a href="">RSS</a></span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="homePage-wrap--work overflow-hidden">
  <div class="container container-xl flex-lg-nowrap">
    <div class="homePage-devices pb-12 content-padding py-md-12">
      <div class="d-flex flex-lg-justify-end position-relative">
        <div class="device device--tablet homePage-device--tablet position-absolute js-plx" data-rellax-speed="-7">
          <div class="device-screen">
            <img src="{{ site.assets-base-url }}images/work/logo-grid.png" class="device-screen-img">
          </div>
        </div>
        <div class="device device--phone homePage-device--phone mt-12 js-plx" data-rellax-speed="4">
          <div class="device-screen slider js_slider">
            <div class="slider_frame js_frame">
              <ul class="slider_slides js_slides">
                <li class="slider_slide js_slide">
                  <img src="{{ site.assets-base-url }}images/work/tablab-1.png" class="device-screen-img" alt="Tab Lab">
                </li>
                <li class="slider_slide js_slide">
                  <img src="{{ site.assets-base-url }}images/work/phillydotcom-1.png" class="device-screen-img" alt="Philly.com">
                </li>
                <li class="slider_slide js_slide">
                  <img src="{{ site.assets-base-url }}images/work/marketplace-1.png" class="device-screen-img" alt="GitHub Marketplace">
                </li>
                <li class="slider_slide js_slide">
                  <img src="{{ site.assets-base-url }}images/work/weil-1.png" class="device-screen-img" alt="Weil, Gotshal, and Manges">
                </li>
                <li class="slider_slide js_slide">
                  <img src="{{ site.assets-base-url }}images/work/cb-homes-1.png" class="device-screen-img" alt="Coldwell Banker Homes">
                </li>
                <li class="slider_slide js_slide">
                  <img src="{{ site.assets-base-url }}images/work/marketplace-2.png" class="device-screen-img" alt="GitHub Payments">
                </li>
                <li class="slider_slide js_slide">
                  <img src="{{ site.assets-base-url }}images/work/papajohns.png" class="device-screen-img" alt="Papa John's Pizza">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="homePage-worklinks content-padding py-10 py-md-12">
      <h2 class="text-beta mb-4 fade-75">My work</h2>
      <p class="">
        For the last decade, I've partnered with many organizations — from Fortune 500 industry
        leaders to scrappy start-ups and built digital products for screens of all sizes.
        Before joining <a href="//github.com" target="_blank">GitHub</a> in 2015,
        I worked on the design teams at <a href="//happycog.com" target="_blank">Happy
        Cog</a> and Empathy Lab.
      </p>
      <p class="mb-6">
        Additionally, I have created a number of personal projects to push my own limits,
        share what I know, or fill a void in my own processes.
      </p>
      <h4 class="text-smallcaps fade-50">Recent personal projects</h4>
      <ul>
        <li class="mb-3">
          <a href="//awaremac.com">Aware</a> simple time tracking for MacOS
        </li>
        <li class="mb-3">
          <a href="//tablab.io">Tab Lab</a> guitar tablature and sheet
            music publishing on the web
        </li>
        <li>
          <a href="//quirksandcompulsions.com">Quirks and Compulsions</a> a podcast
            about overanalyzing the overlooked
        </li>
      </ul>
    </div>
  </div>
</div>
