---
layout: default

page-hidden: false
page-name: journal
permalink: /journal/

title: Journal
description:  Journal description
---

<div class="bg- position-absolute col-12 d-flex">
  <div class="bg-grey col-10 py-9">
  </div>
</div>

<div class="container container-xl mb-12">
  <div class="content-padding page-padding">
    <h1 class="text-alpha mb-8">The latest</h1>
    <div class="container mxn-8">
      {% for post in site.posts %}
        {% unless post.categories contains "legacy" %}
          {% unless post.categories contains "microblog" %}
          <article class="postPreview clearfix col-md-5 position-relative px-8">
            {% if post.featured_img %}
            <img src="{{ site.assets-base-url }}/images/{{ post.featured_img }}" class="postPreview-img">
            {% endif %}
            <time class="text-smallcaps d-block text-bold fade-50">{{ post.date | date: '%B %d, %Y'}}</time>
            <h3 class="text-beta d-inline bg-white position-relative mln-1"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
            <p class="text-beta text-grey d-inline pl-2 bg-white position-relative">{{ post.description }}</p>
          </article>
          {% endunless %}
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="bg-black py-10">
  <div class="container container-xl">
    <div class="content-padding text-right">
      <h2 class="text-beta text-white">Older posts</h2>
      {% for post in site.posts %}
      {% if post.categories contains "legacy" %}
      <article class="py-3">
        <time class="text-smallcaps text-white d-block text-bold fade-50">{{ post.date | date: '%b %d, %Y'}}</time>
        <h3 class="text-gamma d-inline"><a href="{{ post.url | prepend: site.baseurl }}" class="text-cyan">{{ post.title }}</a></h3>
        <p class="text-beta fade-75 d-inline pl-2">{{ post.description }}</p>
      </article>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

