@import "../variables/typography";

@mixin display-setup {
  font-family: $display-font-family !important;
  font-weight: $display-font-weight !important;
  line-height: $display-line-height !important;
  letter-spacing: $display-letter-spacing !important;
}

@mixin fs-alpha {
  font-size: $text-alpha-size * 0.6 !important;
  line-height: 1.2 !important;

  @include mq(md) {
    font-size: $text-alpha-size * 0.75 !important;
  }

  @include mq(lg) {
    font-size: $text-alpha-size !important;
  }
}

@mixin fs-beta {
  font-size: $text-beta-size * 0.75 !important;
  line-height: 1.2 !important;

  @include mq(lg) {
    font-size: $text-beta-size !important;
  }
}

@mixin fs-gamma {
  font-size: $text-gamma-size * 0.75 !important;
  line-height: 1.3 !important;

  @include mq(lg) {
    font-size: $text-gamma-size !important;
  }
}

@mixin fs-delta {
  font-size: $text-delta-size;
  line-height: 1.3 !important;
}

// displays

@mixin display-alpha {
  font-size: $text-alpha-size * 0.6 !important;
  @include display-setup;

  @include mq(md) {
    font-size: $text-alpha-size * 0.75 !important;
  }

  @include mq(lg) {
    font-size: $text-alpha-size !important;
  }
}

@mixin display-beta {
  font-size: $text-beta-size * 0.9 !important;
  @include display-setup;

  @include mq(lg) {
    font-size: $text-beta-size !important;
  }
}

@mixin display-gamma {
  font-size: $text-gamma-size * 0.9 !important;
  @include display-setup;

  @include mq(lg) {
    font-size: $text-gamma-size !important;
  }
}

@mixin display-delta {
  font-size: $text-delta-size * 0.8 !important;
  @include display-setup;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.25em !important;
}

