$blue: #04348f;
$black: #0d172c;
$pure-black: #000;
$cyan: #73f1bd;
$purple: #503bde;
$white: #fff;
$grey: #e8eae9;
$orange: #ffcf3d;

$grey-lt: lighten($grey, 5%);
$grey-dk: #616775;

$body-color: $black;
$body-background-color: $white;
$border-color: $grey;
