$body-font-size: 16px;
$body-font-size-sm: 14px;
$body-line-height: 1.4;
$body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

$display-font-family: PxGroteskLight, Helvetica;
$display-font-weight: 300;
$display-letter-spacing: -0.035em;
$display-line-height: 1.3;

$text-alpha-size: 48px;
$text-beta-size: 28px;
$text-gamma-size: 22px;
$text-delta-size: 18px;
$text-epsilon-size: $body-font-size;
$text-small-size: 12px;

