* {
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  font-size: 14px;
  line-height: 1.5;
  background-color: $darkest;

  @include breakpoint($medium) {
    font-size: #{$body-font-size};
  }
}

input,
select,
textarea,
button {
  font: #{$body-font-size}/1.5 $body-font;
}

a {
  color: $red-lt;
  text-decoration: none;
  background-image: linear-gradient(rgba($red, 0.25) 0%, $red 100%);
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 95%;
  transition: color 0.25s ease-out;

  &:hover {
    color: $red;
  }

  &:not([class]),
  &.post-link {
    text-shadow: -1px -1px 0 $grey-dk, 1px -1px 0 $grey-dk, -1px 1px 0 $grey-dk, 1px 1px 0 $grey-dk;
  }

  .post-content &:not([class]) {
    color: $red;
    text-shadow: -1px -1px 0 $lightest, 1px -1px 0 $lightest, -1px 1px 0 $lightest, 1px 1px 0 $lightest;
  }
}

hr {
  height: 1px;
  background-color: $darkest;
  border: 0;
}
