.btn {
  display: inline-block;
  padding: 1em 1.5em;
  font-size: inherit;
  color: $red;
  background-color: $darkest;
  background-image: none;
  border: 1px solid $darkest;

  &:hover {
    border: 1px solid $red;
  }
}
