.btn {
  display: inline-block;
  padding: 1rem;
  font-size: 14px;
  color: $red;
  border: 1px solid $darkest;
  background-color: $darkest;
  background-image: none;

  &:hover {
    border: 1px solid $red;
  }
}
