.content-block {
  padding: $spacer-xl * 1.5 0;

  &.img-bg {
    background-repeat: no-repeat;
    background-position: 90% bottom;
  }

  +.content-block {
    margin-top: $spacer-lg;
  }
}

.content-block-dark {
  background-color: $grey-dk;
}
