// stylelint-disable selector-no-type

//
// Global header / nav
//

// Keep the spacing consistent on the header and footer

.site-header,
.site-footer {
  display: table;
  width: 100%;
  padding-right: $spacer;
  padding-left: $spacer;
  background-color: $darkest;

  @include mq(sm) {
    padding-right: 0;
    padding-left: 0;
  }
}

.site-header {
  padding-top: $spacer;
  padding-bottom: $spacer;

  @include mq(sm) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.main-nav {
  display: table-cell;
  text-align: right;
  vertical-align: middle;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.main-nav-item {
  display: inline-block;
}

.main-nav-link {
  display: block;
  padding: 0 0.5rem;
  color: $red;
  background-image: none;

  &.selected {
    color: $lightest;
  }

  @include mq(sm) {
    position: relative;
    z-index: 1;
    padding: 1rem;

    &:hover,
    &:active,
    &.selected {
      &::before {
        position: absolute;
        bottom: calc(50% - 1px);
        left: 10%;
        z-index: -1;
        width: 80%;
        height: 1px;
        content: "";
        background-color: $red;
        opacity: 0.4;
      }
    }

    &.selected {
      &::before {
        background-color: $grey-lt;
      }
    }
  }
}

.logo {
  display: table-cell;
  margin: 0;
  vertical-align: middle;

  a {
    display: block;
    float: left;
    font-size: 0;
    line-height: 0;
    background-image: none;
  }

  .text,
  .pm {
    fill: $red;
  }
}

.logo-mark {
  width: 75px;
  height: auto;

  @include mq(sm) {
    width: 100px;
  }

  @include mq(md) {
    width: 120px;
  }
}
