.site-header {
  display: table;
  width: 100%;
  padding: $spacer 0;
  background-color: $darkest;
}

.main-nav {
  display: table-cell;
  text-align: right;
  vertical-align: middle;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.main-nav-item {
  display: inline-block;
}

.main-nav-link {
  display: block;
  padding: 0 0.5rem;
  color: $red;
  background-image: none;

  &.selected {
    color: $lightest;
  }

  @include mq(md) {
    padding: 1rem;

    &.selected {
      position: relative;
      z-index: 1;

      &::before {
        position: absolute;
        bottom: 50%;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 2px;
        margin-top: 2px;
        content: "";
        background-color: $grey-dk;
      }

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: -1;
        width: 70%;
        height: 100%;
        margin-left: -35%;
        content: "";
        background-color: $darkest;
        opacity: 1;
      }
    }
  }
}

.logo {
  display: table-cell;
  margin: 0;
  vertical-align: middle;

  a {
    display: block;
    float: left;
    font-size: 0;
    line-height: 0;
    background-image: none;
  }

  .text,
  .pm {
    fill: $red;
  }
}

.logo-mark {
  width: 75px;
  height: auto;

  @include mq(sm) {
    width: 100px;
  }

  @include mq(md) {
    width: 120px;
  }
}
