.site-header {
  @include clearfix;
  padding: 1rem 0;
  background-color: $darkest;

  @include breakpoint($small) {
    padding: 0 0 2rem;
  }
}

.main-nav {
  display: block;

  @include breakpoint($small) {
    display: table-cell;
    text-align: right;
    vertical-align: top;
  }

  @include breakpoint($medium) {
    vertical-align: bottom;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.main-nav-item {
  display: inline-block;

  @include breakpoint($small) {
    display: block;
  }

  @include breakpoint($medium) {
    display: inline-block;
  }
}

.main-nav-link {
  padding: 1rem 1rem 1rem 0;
  font-size: 14px;
  color: $red;
  background-image: none;

  @include breakpoint($small) {
    padding: 1rem 0 1rem 1rem;
  }

  @include breakpoint($large) {
    padding: 1rem;
    font-size: 16px;
  }
}

.logo {
  display: block;
  margin-top: 0;

  @include breakpoint($small) {
    display: table-cell;
    width: 30%;
    margin: 0;
  }


  a {
    line-height: 0;
    background-image: none;
  }

  .text,
  .pm {
    fill: $red;
  }
}

.logo-mark {
  width: 160px;
  height: auto;
}

.body-home {
  // .logo {
  //   .text,
  //   .pm {
  //     fill: $lightest;
  //   }
  // }
  .logo-mark {
    width: 300px;
    height: auto;
  }
}
