.item-grid {
  display: flex;
  flex-wrap: wrap;
}

.item-grid-item {
  padding: 2rem 2rem 2rem 0;
}

.item-grid-item-thirds {
  width: 50%;

  @include breakpoint($medium) {
    width: 33.3333%;
  }
}

.item-grid-item-halfs {
  @include breakpoint($medium) {
    width: 50%;
  }
}
