//
// Default links that have no classes
//
// stylelint-disable primer/selector-no-utility, selector-no-type

a:not([class]) {
  color: $red-lt;
  text-decoration: none;
  text-shadow: -1px -1px 0 $darkest, 1px -1px 0 $darkest, -1px 1px 0 $darkest, 1px 1px 0 $darkest;
  background-image: linear-gradient(rgba($red, 0.25) 0%, $red 100%);
  background-repeat: repeat-x;
  background-position: 0 95%;
  background-size: 1px 1px;
  transition: color 0.15s ease-in;

  &:hover {
    color: $red;
  }

  // If the link is on the dark bg use a dark shadow to breakup the "underline"
  .bg-dark & {
    text-shadow: -1px -1px 0 $grey-dk, 1px -1px 0 $grey-dk, -1px 1px 0 $grey-dk, 1px 1px 0 $grey-dk;
  }

  // If the link is on the gloss-black bg use a gloss-black shadow to breakup the "underline"
  .bg-gloss-black & {
    text-shadow: -1px -1px 0 $gloss-black, 1px -1px 0 $gloss-black, -1px 1px 0 $gloss-black, 1px 1px 0 $gloss-black;
  }

  // If the link is on the white bg use a white shadow to breakup the "underline"
  .bg-white & {
    color: $red;
    text-shadow: -1px -1px 0 $lightest, 1px -1px 0 $lightest, -1px 1px 0 $lightest, 1px 1px 0 $lightest;
    background-image: linear-gradient(rgba($red, 0.15) 0%, rgba($red, 0.55) 100%);

    &:hover {
      color: $red-dk;
    }
  }
}
