.list-inline {
  list-style: none;

  li {
    display: inline-block;
  }
}

.list-unstyled {
  list-style: none;
}

// Big ol list
.ol-big {
  counter-reset: li;

  > li {
    position: relative;
    padding: 0 36px;
    list-style: none;

    &::before {
      position: absolute;
      top: -0.25em;
      left: 0;
      font-size: 36px;
      font-weight: 300;
      content: counter(li);
      counter-increment: li;
    }
  }
}
