// stylelint-disable selector-no-type

//
// Post detail page
//

.post-header {
  @include mq(lg) {
    padding-top: $spacer-6 * 1.5;
    padding-bottom: $spacer-6 * 1.5;
  }
}

.post-content {
  position: relative;
  color: $grey-dk;

  h1,
  h2,
  h3,
  h4,
  h5 {
    padding-top: 1em;
    color: $darkest;
  }

  // @include mq(md) {
  //   font-size: $post-content-font-size;
  // }

  > p:first-of-type {
    margin-bottom: 2em;
    font-family: $display-font-family;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;

    @include mq(lg) {
      font-size: 24px;
      font-weight: 300;
    }
  }

  figure {
    margin: $spacer-3 0;
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.07);

    img {
      display: block;
    }

    figcaption {
      padding: $spacer-1 $spacer-2;
      font-size: 12px;
      color: $grey-md;

      @include mq(md) {
        font-size: 13px;
      }
    }
  }
}
