// Generic post styles
//
.post-title {
}

// .post-date {
//   font-size: 12px;
// }

// Post preview
//
.post-preview {
  margin-bottom: 1rem;
  @include clearfix;
}

.post-status {
  margin-bottom: 1rem;

  .post-content {
    font-family: $monospace-font-family;
    font-size: 13px;
  }

  &:nth-of-type(n+2) {
    display: none;

    @include breakpoint($medium) {
      display: block;
      opacity: 0.7;
    }
  }
}


// Post detail
//
.post-detail {
  .post-header {
    padding: 4rem 0;
    color: $grey-md;
    background-color: $grey-dk;

    .post-title {
      width: 70%;
      color: $lightest;
    }
  }

  .post-content {
    padding: 4rem 0;
    margin-bottom: 1rem;
    color: $darkest;
    background-color: $lightest;

    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $darkest;
    }
  }
}

// .body-status {
//   .site-header {
//     .logo-mark {
//       .text {
//         display: none;
//       }
//     }
//
//     .main-nav-link,
//     .logo-mark {
//       opacity: 0.5;
//       transition: opacity 0.15s ease-out;
//     }
//
//     &:hover {
//       .main-nav-link,
//       .logo-mark {
//         opacity: 1;
//       }
//     }
//   }
// }

.status-detail {
  .post-content {
    padding: 2rem 0 0;
    font-family: $monospace-font-family;
  }

  .post-footer {
    margin-bottom: 2rem;
    opacity: 0.7;
  }
}
