.shelf {
  margin-top: 2rem;

  @include mq(md) {
    @include columns;
    margin-top: 5rem;
  }

  .shelf-row {
    @include mq(md) {
      position: relative;
      padding-top: 12rem;
      margin-bottom: 14rem;
    }
  }

  .item {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $darkest;

    @include mq(md) {
      padding: 0;
      margin: 0;
      border: 0;
    }
  }

  .item-img {
    line-height: 0;

    @include mq(md) {
      position: absolute;
      bottom: -6px;
      width: 24.7%;
    }
  }

  .item-meta {
    @include mq(md) {
      padding-right: 16px;
      padding-left: 32px;
      margin-top: 7px;
      margin-right: -32px;
      margin-left: -32px;
      border-top: 20px solid $darkest;
    }

    >:first-child {
      margin-top: 1rem;
    }
  }
}
