//
// Body
//

body {
  color: $soft-light;
}

//
// Headings
//

h1,
.heading-alpha {
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.2;
  font-size: 36px;
  font-weight: 400;
  color: $lightest;

  @include breakpoint($small) {
    font-size: 56px;
    font-weight: 400;
  }
}


h2,
.heading-beta {
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.3;
  font-size: 24px;
  font-weight: 300;
  color: $lightest;

  @include breakpoint($small) {
    font-size: 30px;
    font-weight: 300;
  }
}

h3,
.heading-gamma {
  margin-top: 1em;
  margin-bottom: 0.35em;
  line-height: 1.3;
  font-size: 18px;
  font-weight: 300;
  color: $lightest;

  @include breakpoint($small) {
    font-size: 22px;
    font-weight: 300;
  }
}

h4,
.heading-delta {
  margin-top: 1.5em;
  margin-bottom: 0.25em;
  line-height: 1.3;
  font-size: 14px;
  font-weight: 300;
  color: $lightest;

  @include breakpoint($small) {
    font-size: 18px;
    font-weight: 300;
  }
}

.headline {
  margin: 1em 0;
  @include breakpoint($medium) {
    width: 60%;
  }
}

//
// Paragraph
//

.lead {
  margin-top: 0;
  font-size: 20px;
  font-weight: 300;
}

p {
  margin: 0 0 1em;
}

//
// Lists
//

ul,
ol {
  margin-bottom: 1rem;
  margin-left: 1.5rem;

  @include breakpoint($medium) {
    margin-left: 0;
  }
}

li {
  margin-bottom: 0.5rem;

  ul,
  ol {
    li {
      margin-bottom: 0;
    }
  }
}


.inline-list {
  margin-left: 0;

  li {
    display: inline-block;
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.checklist {
  margin-left: 0;
  list-style: none;

  @include breakpoint($medium) {
    margin-left: -1.5rem;
  }

  li {
    &:before {
      padding-right: 0.8rem;
      font: normal normal normal 16px/1 octicons;
      content: "\f03a";
    }
  }
}

//
// Quotes
//

// Default blockquote


//
// Modifiers
//

small,
.text-small {
  font-size: 13px;
}

.text-muted {
  color: inherit;
  opacity: 0.8;
}
