// Margin and padding utils

// Margin & padding

@for $i from 0 through 6 {
  $size: $spacer * $i;

  @if $i == 0 {
    $size: 0;
  }

  .m-#{$i} { margin: $size !important; }
  .mx-#{$i} { margin-right: $size !important; margin-left: $size !important; }
  .my-#{$i} { margin-top: $size !important; margin-bottom: $size !important; }
  .mt-#{$i} { margin-top: $size !important; }
  .mb-#{$i} { margin-bottom: $size !important; }
  .ml-#{$i} { margin-left: $size !important; }
  .mr-#{$i} { margin-right: $size !important; }

  .p-#{$i} { padding: $size !important; }
  .px-#{$i} { padding-right: $size !important; padding-left: $size !important; }
  .py-#{$i} { padding-top: $size !important; padding-bottom: $size !important; }
  .pt-#{$i} { padding-top: $size !important; }
  .pb-#{$i} { padding-bottom: $size !important; }
  .pl-#{$i} { padding-left: $size !important; }
  .pr-#{$i} { padding-right: $size !important; }
}

// Text utilities
//

.text-sm {
  font-size: 12px !important;

  @include breakpoint($medium) {
    font-size: 14px !important;
  }
}

.text-xs {
  font-size: 10px !important;

  @include breakpoint($medium) {
    font-size: 12px !important;
  }
}

.text-monospace { font-family: $monospace-font-family !important; }

.text-no-ul {
  text-decoration: none !important;
  background-image: none !important;
}

.text-muted {
  color: darken($soft-light, 10%) !important;
}
