$container-width: 840px !default;
$grid-gutter: 32px !default;

// For extra wide content that breaks out of the grid
$container-wide-width: 1200px !default;

// Media queries in pixels
$media-queries: (
  xs: 320px,
  sm: 500px,
  md: 740px,
  lg: 980px,
  xl: $container-wide-width + ($grid-gutter * 2)
) !default;

// Column widths
$column-widths: (
  single: 100%,
  one-half: 50%,
  one-third: 33.3333%,
  one-fourth: 25%,
  one-fifth: 20%,
  two-thirds: 66.6666%,
  two-fifths: 40%,
  three-fourths: 75%,
  three-fifths: 60%,
  four-fifths: 80%
);

// Spacers
$spacer: 1rem; // 18px

$spacers: (
  spacer0: 0,
  spacer1: $spacer * 0.5,
  spacer2: $spacer,
  spacer3: $spacer * 1.5,
  spacer4: $spacer * 2,
  spacer5: $spacer * 2.5,
  spacer6: $spacer * 3
);

$spacer-0: map-get($spacers, spacer0);
$spacer-1: map-get($spacers, spacer1);
$spacer-2: map-get($spacers, spacer2);
$spacer-3: map-get($spacers, spacer3);
$spacer-4: map-get($spacers, spacer4);
$spacer-5: map-get($spacers, spacer5);
$spacer-6: map-get($spacers, spacer6);

// Font family and metrics
$display-font-family: PxGroteskLight, -apple-system, BlinkMacSystemFont, "Helvetica Neue",  sans-serif;
$body-font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Oxygen, Ubuntu, Cantarell, sans-serif;
$monospace-font-family: Consolas, Menlo, Andale, monospace;
$body-font-size: 16px;
$body-font-size-sm: 13px;
$body-line-height: 1.5;

// Site colors
$lightest: #f5f5f5;
$soft-light: #d6d6d6;
$darkest: #1d212a;

$grey-dk: #2a323a;
$grey-md: #a7a2a2;
$red: #df303a;
$red-lt: #d09599;
$red-dk: darken($red, 20%);

$body-background-color: $darkest;
$body-color: $soft-light;
