.work-toc-item {
  margin-bottom: 0;
  color: $lightest;
  text-decoration: none;
  background-color: $soft-light;
  background-image: none;

  @include mq(sm) {
    position: relative;
    float: left;
    clear: both;
  }

  @include mq(xl) {
    clear: none;
  }

  &::after {
    @include mq(md) {
      position: absolute;
      top: 0;
      right: 0;
      height: 110%;
      content: "";
      background-color: $lightest;
    }
  }
}
