.work-toc-item {
  position: relative;
  display: block;
  color: $lightest;
  text-decoration: none;
  background-color: $soft-light;
  background-image: none;
  transition: background-color 0.15s ease-out;

  &::after {
    @include mq(md) {
      position: absolute;
      top: 0;
      right: 0;
      // width: 20%;
      height: 110%;
      content: "";
      background-color: $grey-dk;
    }
  }

  &:hover,
  &:active,
  &:focus {
    background-color: #fff;

    [class*="heading-"] {
      color: $darkest;
    }
  }
}

.bg-github {
  background-color: #202021;

  &::after {
    width: 20%;
  }
}

.bg-weil {
  background-color: #00ac5a;

  &::after {
    width: 60%;
  }
}

.bg-trek {
  background-color: #ce1a2b;

  &::after {
    width: 50%;
  }
}

.bg-coldwell {
  background-color: #30507b;

  &::after {
    width: 40%;
  }
}

.bg-pj {
  background-color: #ab131b;

  &::after {
    width: 5%;
  }
}

.bg-amc {
  background-color: #e6a815;

  &::after {
    width: 10%;
  }
}
