.wrap-entire-page {
  max-width: $container-wide-width + 15rem;
  margin: 0 auto;
  overflow-x: hidden;
  background: $grey-dk;
  border: 1rem solid $darkest;

  @include breakpoint($medium) {
    border: 2rem solid $darkest;
  }
}

.main {
  position: relative;
}

.img-bg {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 1;
}

.page-title {
  margin: 1em 0;
  @include breakpoint($large) {
    width: 60%;
  }
}

.content {
  position: relative;
  z-index: 2;
}
