---
layout: default
---
<article class="post-detail">
  <header class="post-header">
    <div class="container container-wide">
      <h1 class="post-title display-alpha mb-0">
        {{ page.title }}
      </h1>
    </div>
  </header>
  <div class="post-content bg-white px-3 py-3 py-md-6">
    <div class="container container-wide">
      <div class="columns">
          <p class="text-small text-grey-lt one-fourth-md column">{{ page.date | date: "%B&nbsp;%-d,&nbsp;%Y" }}</p>
        <div class="three-fourths-md column float-right pr-6">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</article>
