---
layout: default
---

<article class="post-detail">
  <header class="content-block py-md-6 bg-gloss-black">
    <div class="container container-wide">
      <h1 class="post-title display-alpha my-0 my-md-3 three-fourths-md">
        {{ page.title }}
      </h1>
    </div>
  </header>
  <div class="bg-white content-block">
    <div class="container container-wide">
      <div class="columns pr-md-6">
          <p class="text-small text-grey-lt single one-fifth-lg column pt-1">{{ page.date | date: "%B&nbsp;%-d,&nbsp;%Y" }}</p>
        <div class="post-content single two-thirds-lg column">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</article>
