---
layout: default
---

<article class="post-detail">
  <header class="content-block py-md-6 bg-gloss-black">
    <div class="container container-wide">
      <h1 class="post-title display-alpha my-0 my-md-3 three-fourths-md">
        {{ page.title }}
      </h1>
    </div>
  </header>
  <div class="bg-white content-block">
    <div class="container container-wide">
      <div class="columns pr-md-6">
        <div class="single one-fifth-lg column">
          <p class="text-small text-black">
            <!-- <span class="d-block text-grey-lt">Published</span> -->
            {{ page.date | date: "%B&nbsp;%-d,&nbsp;%Y" }}
          </p>

          {% if page.next or page.previous %}
            <hr class="bg-light my-4">
            <aside class="text-small">
              {% if page.next %}
                <span class="d-block text-grey-lt">Next</span>
                <a href="{{ page.next.url | absolute_url }}">{{ page.next.title }}</a>
              {% endif %}
              {% if page.previous %}
                <span class="d-block text-grey-lt{% if page.next %} mt-2{% endif %}">Prevously</span>
                <a href="{{ page.previous.url | absolute_url }}">{{ page.previous.title }}</a>
              {% endif %}
            </aside>
          {% endif %}
        </div>
        <div class="post-content single two-thirds-lg column">
          {% unless page.featured_img == nil %}
            <img src="{% asset_path "{{ page.featured_img }}" %}" alt="" class="img-fluid"/>
          {% endunless %}

          {{ content }}
        </div>
      </div>
    </div>
  </div>
</article>
