---
layout: default
---
<div class="outer">
<header class="content-padding page__intro">
<h1 class="page__title">Works: Mostly in Progress.</h1>
<p>I dedicate a large portion of my free time to projects that provide opprotunites for me to learn, make art, and contribute to various communities. Below is a list of things I have worked on or am currently working on.</p>
<p>
<em>These are all personal side projects—not my professional portfolio—<a href="mailto:patrick.marsceill@gmail.com">email me</a> if you want to learn more about my professional work.</em>
</p>

</header>
</div>
<main class="page--projects" role="main">
<article class="content">
{{ content }}
</article>
</main>
