.device {
  position: relative;
  background-image: $white-material;
  display: flex;
  margin-bottom: 60px;
  padding: 0;
  box-shadow: 0 30px 75px -12px $box-shadow-grey, 0 20px 10px -20px rgba(0, 0, 0, 0.1);

  .device-screen {
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background-color: $black;

    @include mq(md) {
      border: 3px solid #000;
    }
  }

  .device-screen-img {
    width: 100%;
    height: auto;
  }
}

.device--phone {
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;

  @include mq(md) {
    width: 270px;
    max-width: none;
    padding: 50px 15px;
    border-radius: 30px;
  }

  @include mq(lg) {
    width: 320px;
    height: 565px;
    padding: 60px 20px;
    border-radius: 35px;
  }
}

.device--tablet {
  @include mq(md) {
    width: 600px;
    max-width: none;
    padding: 55px;
    border-radius: 40px;
  }

  @include mq(lg) {
    width: 768px;
    height: 1024px;
    padding: 60px;
    border-radius: 45px;
  }
}

.slider_frame {
    position: relative;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.slider_slides {
    display: inline-block;
    margin-bottom: 0;
}

.slider_slide {
    position: relative;
    display: inline-block;
    margin-bottom: 0;

    /**
     * (optional) if the content inside the slide element has a defined size.
     */
    // width: 880px;
}

