.homePage-wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap;

  @include mq(lg) {
    background-image: linear-gradient(to right, $white 0%, $white calc(100% - 300px), $blue calc(100% - 300px), $blue 100%);
  }

  @include mq(xl) {
    background-image: linear-gradient(to right, $white 0%, $white percentage(3/4), $blue percentage(3/4), $blue 100%);
  }
}

.homePage-wrap--work {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap;

  @include mq(lg) {
    background-image: linear-gradient(to right, $orange 0%, $orange calc(100% - 300px), $purple calc(100% - 300px), $purple 100%);
  }

  @include mq(xl) {
    background-image: linear-gradient(to right, $orange 0%, $orange percentage(3/4), $black percentage(3/4), $black 100%);
  }
}

.homePage-links {

  @include mq(md) {
    max-width: 350px;
  }
}

.homePage-about {
  @include mq(md) {
    min-width: 470px;
    max-width: 830px;
  }
}

.homePage-worklinks {
  background-color: $black !important;
}

.homePage-devices {
  overflow: hidden !important;
  background-color: $orange !important;

  @include mq(lg) {
    overflow: visible !important;
  }
}

.homePage-about,
.homePage-devices {
  flex: 1;
  max-width: none;

  @include mq(lg) {
    min-width: 540px;
  }
}

// stylelint-disable selector-no-qualifying-type, selector-max-specificity, selector-max-type
.homePage-links,
.homePage-worklinks {
  color: $white;
  background-color: $blue;

  a[href]:not([class]) {
    padding-right: 0;
    padding-left: 0;
    color: $cyan;
    background-image: none;

    &:hover {
      color: $orange;
    }
  }

  @include mq(lg) {
    min-width: 432px;
    max-width: 456px;
  }

  @include mq(xl) {
    max-width: 540px;
  }
}
// stylelint-enable selector-no-qualifying-type, selector-max-specificity, selector-max-type

.homePage-device--phone {
  margin-bottom: $sp-12;

  @include mq(md) {
    top: 20px;
    left: 0;
    margin-right: 0;
    margin-bottom: -300px;
    margin-left: 0;
  }

  @include mq(lg) {
    top: auto;
    left: auto;
    margin-bottom: 0;
  }
}

// stylelint-disable plugin/no-unsupported-browser-features
.homePage-device--tablet {
  top: 0;
  right: -$sp-6;
  left: -$sp-6;
  margin-bottom: 0;

  .device-screen {
    border-radius: 0;
  }

  .device-screen-img {
    width: auto;
    height: 100%;
    filter: grayscale(100%);
    opacity: 0.4;
  }

  @include mq(md) {
    top: -250px;
    right: 0;
    left: auto;

    .device-screen {
      background-color: $black;
      border-radius: 3px;
    }

    .device-screen-img {
      width: 100%;
      height: auto;
      filter: none;
      opacity: 0.65;
    }
  }

  @include mq(lg) {
    top: -200px;
    right: auto;
    left: -50%;
  }

  @include mq(xl) {
    left: -20%;
  }
}
// stylelint-enable plugin/no-unsupported-browser-features
