.homePage {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap;

  @include mq(md) {
    background-image: linear-gradient(to right, $white 0, $white percentage(8/12), $blue percentage(8/12), $blue 100%);
  }
}

.homePage-links {
  padding-bottom: $sp-12;
  color: $white;
  background-color: $blue;

  a[href]:not([class]) {
    padding-right: 0;
    padding-left: 0;
    color: $cyan;
    background-image: none;

    &:hover {
      color: $orange;
    }
  }
}

.homePage-about-bg--1 {
  position: absolute;
  left: 0;
  width: 30%;
  height: 0;
  margin-top: -$sp-7;
  background-color: $grey;
  opacity: 0.5;
  animation-name: bg-1;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0.4s;
}

@keyframes bg-1 {
  to {
    height: 30%;
  }
}
