.homePage {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap;

  @include mq(lg) {
    background-image: linear-gradient(to right, $white 0%, $white calc(100% - 300px), $blue calc(100% - 300px), $blue 100%);
  }

  @include mq(xl) {
    background-image: linear-gradient(to right, $white 0%, $white percentage(3/4), $blue percentage(3/4), $blue 100%);
  }
}

.homePage-container {
  @include mq(md) {
    flex-wrap: nowrap !important;
  }
}

.homePage-links {
  padding-bottom: $sp-12;
  color: $white;
  background-color: $blue;

  a[href]:not([class]) {
    padding-right: 0;
    padding-left: 0;
    color: $cyan;
    background-image: none;

    &:hover {
      color: $orange;
    }
  }

  @include mq(md) {
    min-width: 300px;
  }
}

.device.homePage-device {
  //transform: translateX(-25%);
  // transform: perspective(1000px) rotateY(3deg);
}
