a[href]:not([class]) {
  padding-right: 4px;
  padding-left: 4px;
  color: $black;
  background-image: linear-gradient(transparent 0%, transparent 47%, $cyan 47%, $cyan 70%, transparent 70%);

  &:hover {
    background-image: linear-gradient(transparent 0%, transparent 47%, $orange 47%, $orange 70%, transparent 70%);
  }
}
