.postImage {
  width: 100%;
}

.postImage-content {
  margin-bottom: $sp-6;
  background-color: $purple;
  background-repeat: repeat-x;
  background-size: contain;
  height: 40vw;
  max-height: 600px;
}

.postContent-body {
  line-height: 1.6;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;

    &:not(:first-child) {
      margin-top: 1em;
      margin-bottom: 0.2em;
    }
  }

  h4 {
    margin-top: 2em;
    font-size: $body-font-size * 0.85 !important;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  hr {
    // Todo add styles
  }
}

.postNav-item {
  width: 50%;
  padding-top: $sp-3;
  padding-right: $sp-4;
  padding-bottom: $sp-5;
  border-top: $border $border-color;
  border-right: $border $border-color;

  &:nth-child(2) {
    padding-right: 0;
    padding-left: $sp-4;
    margin-right: 0;
    text-align: right;
    border-right: 0;
  }
}

.postNav-link {
  display: block;
  font-weight: 700;
}

// Post preview on journal page

