.postImage {
  max-width: $container-width-lg;
  margin-top: $sp-10;
  margin-bottom: $sp-6;

  @include mq(lg) {
    margin-left: -6.1rem;
  }
}

.postContent {
  max-width: $container-width-lg;
}

.postContent-header {
  max-width: 856px;
}

.postContent-breadcrumb {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: $sp-6;
  margin-right: $sp-8;

  @include mq(lg) {
    top: auto;
    right: auto;
    left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 1.5rem;
  }
}

.postContent-meta {
  padding-top: $sp-3;
  padding-right: $sp-3;
  padding-bottom: $sp-3;
  padding-left: $sp-3;
  margin-bottom: $sp-6;
  border-top: $border $border-color;
  border-bottom: $border $border-color;

  @include mq(md){
    max-width: 200px;
    float: right;
    margin-left: $sp-8;
    margin-bottom: $sp-8;
  }

  @include mq(lg) {
    position: sticky;
    top: $sp-6;
    right: 0;
  }
}

.postContent-body {
  max-width: $container-width-md;
  padding-bottom: $sp-4;
  line-height: 1.8;
  border-bottom: $border $border-color;

  @include mq(xl){
    max-width: 700px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1em;
    margin-bottom: 0.2em;
  }

  h4 {
    margin-top: 2em;
    font-size: $body-font-size * 0.85 !important;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  hr {
    // Todo add styles
  }
}

.postNav {
  position: relative;
  max-width: 700px;
  margin-bottom: $sp-8;
}

.postNav-item {
  width: 50%;
  padding-top: $sp-4;
  padding-right: $sp-4;
  border-right: $border $border-color;

  &:nth-child(2) {
    padding-right: 0;
    padding-left: $sp-4;
    margin-right: 0;
    text-align: right;
    border-right: 0;
  }
}

.postNav-link {
  font-weight: 700;
  color: $black;
}


