.sideBar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  height: 130px;
  mix-blend-mode: difference;

  @include mq(lg) {
    position: fixed;
    width: auto;
  }
}

.site-mark-svg {
  width: 110px;
  margin-left: $sp-6;

  @include mq(md) {
    width: 130px;
    margin-left: $sp-8;
  }

  @include mq(lg) {
    margin-left: $sp-10 + 0.2rem;
  }

  @include mq(xl) {
    margin-left: $sp-7;
  }

  .pm {
    fill: invert($black);
    transition: fill 0.2s ease-in-out;
  }

  .text {
    fill: $black;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, fill 0.2s ease-in-out;
  }
}

.linkHome {
  position: absolute;
  top: $sp-5;

  &:hover {
    .pm {
      fill: invert($purple);
    }

    .text {
      fill: invert($purple);
      opacity: 1;
    }
  }
}

// IE / Edge doesn't support blend-modes so we have to force a black fill here
// stylelint-disable selector-max-type
_:-ms-lang(x),
.linkHome .pm {
  fill: $black !important;

  &:hover {
    fill: $purple !important;
  }
}

_:-ms-lang(x),
.linkHome .text {
  fill: $black !important;

  &:hover {
    fill: $purple !important;
  }
}
// stylelint-enable selector-max-type
