.sideBar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  height: 100%;
  padding: $sp-6;

  @include mq(md) {
    padding: $sp-8;
  }

  @include mq(lg) {
    position: fixed;
    padding: $sp-5;
  }
}

.site-mark-svg {
  width: 110px;

  @include mq(md) {
    width: 130px;
  }

  .pm {
    fill: $black;
    transition: fill 0.2s ease-in-out;
  }

  .text {
    fill: $black;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, fill 0.2s ease-in-out;
  }

}

.linkHome {
  position: absolute;
  top: $sp-5;

  &:hover {
    .pm {
      fill: $purple;
    }

    .text {
      fill: $purple;
      opacity: 1;
    }
  }
}
